.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 200px;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-inicio-sesion {
  margin-top: 1.5rem;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  width: 180px;
}

p {
  margin: 0.5rem 0;
}

.input-inicio-sesion {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.loader {
  width: 90%;
  height: 90vh;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-container {
  width: 90%;
  height: 90vh;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  color: #555;
}

/* Estilos para la animación del spinner */
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.principal-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f2f2f2;
}
.principal-container-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}
.principal-container-sub {
  display: flex;
  justify-content: space-between;
  background-color: maroon;
  color: white;
  width: 100%;
}

.button-header {
  margin: 10px;
  background-color: black;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  font-weight: 600;
  padding: 0px 20px;
  cursor: pointer;
}
.container-jugadores-clasificacion {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.container-jugadores {
  width: 60%;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  margin: 5px;
  background-color: white;
}

.container-clasificacion {
  width: 40%;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  margin: 5px;
  background-color: white;
}

.clasificacion {
  width: 100%;
  padding-bottom: 20px;
}
.participante {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-right: 20px;
}

.header-clasificacion {
  display: flex !important;
  flex-direction: row;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 1px solid #ccc;
}

.participante-posicion {
  width: 10%;
  text-align: left;
  padding-top: 8px;
}

.participante-nickname {
  width: 30%;
  text-align: left;
  cursor: pointer;
}

.participante-jugadores {
  width: 20%;
  text-align: right;
}
.participante-puntos-jornada {
  width: 20%;
  text-align: right;
}

.participante-puntos-totales {
  width: 20%;
  font-weight: 500;
  text-align: right;
}

.header-clasificación-posicion {
  width: 10%;
  font-weight: 500;
  text-align: left;
}

.header-clasificación-nickname {
  width: 30%;
  font-weight: 500;
  text-align: left;
}
.header-clasificación-jugadores {
  width: 20%;
  font-weight: 500;
  text-align: left;
}

.header-clasificación-jornada {
  width: 20%;
  font-weight: 500;
  text-align: right;
}

.header-clasificación-totales {
  width: 20%;
  font-weight: 500;
  text-align: right;
}

.posicion {
  margin-left: 7px;
}

.titulo-clasificacion {
  color: maroon;
  font-weight: 600;
}

.jugador {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
}

.header-jugador-vista {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: maroon;
  border: none;
  color: white;
}
.header-jugador-nombre {
  width: 30%;
  text-align: left;
  padding-left: 10px;
}
.header-jugador-equipo {
  width: 10%;
  text-align: left;
}
.header-jugador-puntos-jornada {
  width: 20%;
  text-align: right;
  padding-right: 10px;
}
.header-jugador-puntos-jornada-cambio {
  width: 16%;
  text-align: right;
  padding-right: 10px;
}
.header-jugador-puntos-media {
  width: 20%;
  text-align: right;
  padding-right: 10px;
}
.header-jugador-puntos-media-cambio {
  width: 16%;
  text-align: right;
  padding-right: 10px;
}
.header-jugador-puntos-totales {
  width: 20%;
  text-align: right;
  padding-right: 10px;
}
.header-jugador-puntos-totales-cambio {
  width: 16%;
  text-align: right;
  padding-right: 10px;
}
.jugador-nombre {
  width: 30%;
  text-align: left;
  padding-left: 10px;
  font-weight: 500;
  cursor: pointer;
}
.jugador-equipo {
  width: 10%;
  text-align: left;
}
.jugador-puntos-jornada {
  width: 20%;
  text-align: right;
}
.jugador-puntos-jornada-cambio {
  width: 16%;
  text-align: right;
}
.jugador-puntos-media {
  width: 20%;
  text-align: right;
  padding-right: 10px;
}
.jugador-puntos-media-cambio {
  width: 16%;
  text-align: right;
  padding-right: 10px;
}
.jugador-puntos-totales {
  width: 20%;
  text-align: right;
  padding-right: 10px;
}
.jugador-puntos-totales-cambio {
  width: 16%;
  text-align: right;
  padding-right: 10px;
}
.container-button-cambio{
  display: flex;
  justify-content: end;
  align-items: center;
  width: 5%;
}
.cambio-jugador{
  display: flex;
  width: 20px;
  height: 20px;
  padding-top: 2px;
  padding-right: 10px;
  background-color: navy;
  border-radius: 3px;
  padding-left: 3px;
  border: none;
}
.contenedor-partidos {
  column-count: 2; /* Crea dos columnas */
  column-gap: 20px; 
  width: 100%;
}
.partido {
  break-inside: avoid-column; /* Evita que los elementos se dividan entre columnas */
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  margin: 0px 5px 20px 5px;
}

.partido-resultado {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.goles-equipo {
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 50%;
  font-weight: 600;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.partido-jugadores {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.jugadores-locales {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.jugadores-visitantes {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.jugador-partido {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.jugador-partido-nombre-visitante{
  text-align: right;
  padding-right: 10px;
}

.jugador-partido-nombre-local{
  text-align: left;
  padding-left: 10px;
}

.button-jugar-partido {
  margin: 10px;
  padding: 5px 10px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.puntos-jugador-local{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  margin-top: 5px;
  margin-right: 17px;
  font-weight: 600;
}

.puntos-jugador-visitante{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  margin-top: 5px;
  margin-left: 17px;
  font-weight: 600;
}

.gol-jugador-local{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  margin-top: 5px;
  margin-right: 5px;
  font-weight: 600;
  background-color: #f44336;
  color: white;
}

.button-siguiente-jornada {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
}
.container-jugador{
  width: 100%;
  min-height: 100vh;
  background-color: white;
}
.header-jugador{
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: maroon;
  border: none;
  color: white;
}

.header-jugadores{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: maroon;
  font-weight: 600;
  border: none;
  color: white;
}

.contenido-jugador {
  margin: 10px 100px 10px 100px;
  display: flex;
  flex-direction: row;
}

.datos-jugador {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.partidos-jugador {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.dato-jugador {
  font-size: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 2px;
  width: 100%;
}

.dato-jugador-label {
  font-weight: 600;
}
.dato-jugador-value {
  color:#555;
}
.jugador-puntos-jornada {
  width: 100%;
  display: flex;
}

.jugador-puntos-jornada-partido {
  width: 10%;
  font-weight: 600;
}
.jugador-puntos-jornada-goles {
  margin-right: 5px;
  width: 25%
}
.jugador-puntos-jornada-barra {
  margin-top: 10px;
  width: 55%
}
.jugador-puntos-jornada-puntos {
  width: 10%;
}

.button-atras {
  border: none;
  background-color: maroon;
  position: absolute;
  left: 20px;
  top: 15px;
  cursor: pointer;
}
